{% extends 'base.html' %}
{% load timedelta_filters %}
{% block content %}
<div class="container border border-dark">
    <div class="row">
        <div class="col-md-6">
            <h1>Edição do Ponto</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border">
            <h4>Usuário: {{user.username|capfirst}}</h4>
        </div>
        <div class="col-md-4 border">
            <h4>Data: {{day|date:"d/m/Y"}}</h4>
        </div>
        <div class="row text-center">

            <div class="col-md-6">
                <button type="button" class="btn btn-warning" onclick="goBack()">
                    <i class="fas fa-arrow-left"></i>
                    Voltar para o Resumo
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Hora Entrada</th>
                <th scope="col">Hora Saída</th>
                <th scope="col">Tipo Receita</th>
                <th scope="col">Cliente</th>
            </tr>
        </thead>
        <tbody>
            {% for ponto in pontos %}
            <tr>
                <td>
                    <i class="fas fa-search" style="color:blue"></i>
                </td>
                <td>
                    <a href="{% url 'apontamento:appointment_update' ponto.id %}">
                        <i class="fas fa-edit" style="color:blue"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'apontamento:appointment_delete' ponto.id %}">
                        <i class="fas fa-times-circle" style="color:red"></i>
                    </a>
                </td>
                <td>{{ponto.entrada|time:"H:i"}}</td>
                <td>{{ponto.saida|time:"H:i"}}</td>
                <td>{{ponto.tipo_receita}}</td>
                <td>{{ponto.cliente}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
{% endblock%}