{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="disabled">Edição do Ponto</h3>
        </div>
    </div>
    <form method="post">{% csrf_token %}

        <div class="row">
            <div class="col-md-3">
                {{ form.entrada|as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.saida|as_crispy_field }}
            </div>
            <div class="col-md-2">
                {{ form.label }}
                {{ form.atraso|as_crispy_field }}

                {{ form.label }}
                {{ form.atrasoautorizado|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.tipo_receita|as_crispy_field }}
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.cliente_id|as_crispy_field }}
                </div>
            </div>

        </div>
        <div class="row border border-dark">
            <div class="col-md-4 mt-1 mb-1">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                    Gravar
                </button>
            </div>
            <div class="col-md-4 mt-1 mb-1">
                <button type="button" class="btn btn-warning btn-block btn-lg" onclick="goBack()">
                    <i class="fas fa-arrow-left"></i>
                    Voltar
            </div>
        </div>
    </form>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
{% endblock %}