{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container border border-dark">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Detalhe do Ponto</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h5>Usuário: {{ponto.usuario|capfirst}}</h5>
        </div>
    </div>
    <div class="row text-center border border-success d-flex align-items-center">
        <div class="col-md-6 ">
            <h5>Data Entrada: {{ponto.entrada|date:"d/m/Y"}}</h5>
        </div>
        <div class="col-md-6 ">
            <h5>Hora Entrada: {{ponto.entrada|time:"H:i:s"}}</h5>
        </div>
    </div>
    <br>
    <div class="row text-center border border-danger d-flex align-items-center">
        <div class="col-md-6">
            <h5>Data Saida : {{ponto.saida|date:"d/m/Y"}}</h5>
        </div>
        <div class="col-md-6 ">
            <h5>Hora Saida: {{ponto.saida|time:"H:i:s"}}</h5>
        </div>
    </div>
    <br>
    <div class="row text-center border border-info d-flex align-items-center">
        <div class="col-md-6">
            <h5>Tipo Receita : {{ponto.tipo_receita}}</h5>
        </div>
        <div class="col-md-6 ">
            <h5>Cliente: {{ponto.cliente_id}}</h5>
        </div>
    </div>
    <br>
    <div class="container">
        <h3>Histórico do dia: {{ponto.entrada|date:"d/m/Y - l"}}</h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Atualiza</th>
                            <th class="text-center">Apaga</th>
                            <th scope="col">Data</th>
                            <th scope="col">Entrada</th>
                            <th scope="col">Saida</th>
                            <th scope="col">Horas Trabalhadas</th>
                            <th scope="col">Tipo Receita</th>
                            <th scope="col">Cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ponto in historico %}
                        <tr>

                            <td class="text-center">
                                <a href="{% url 'apontamento:appointment_update' ponto.id %}">
                                    <i class="fas fa-edit" style="color:blue"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{% url 'apontamento:appointment_delete' ponto.id %}">
                                    <i class="fas fa-times-circle" style="color:red"></i>
                                </a>
                            </td>

                            <td>{{ponto.entrada|date:"d/m/Y"}}</td>
                            <td>{{ponto.entrada|time:"H:i:s"}}</td>
                            <td>{{ponto.saida|time:"H:i:s"}}</td>
                            <td>{{ponto.difference}}</td>
                            <td>{{ponto.tipo_receita}}</td>
                            <td>{{ponto.cliente_id}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="text-right">
                            <td colspan="5">Total de Horas Trabalhadas no dia</td>
                            <td colspan="5">{{total_trabalhado}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
            <hr>
            <div class="row text-center">
                <div class="col-md-6 border border-dark">
                    <button type="button" class="btn btn-warning" onclick="goBack()">
                        <i class="fas fa-arrow-left"></i>
                        Voltar
                    </button>
                </div>

                <div class="col-md-6 border border-dark">
                    <a href="{% url 'user:logout' %}">
                        <button type="button" class="btn btn-danger">
                            <i class="fas fa-sign-out-alt"></i>
                            Fechar
                        </button>
                    </a>
                </div>
            </div>

        </div>

    <div class="row text-center">
        <div class="col-md-12 border border-dark">
            <button type="button" class="btn btn-warning" onclick="goBack()">
                <i class="fas fa-arrow-left"></i>
                Voltar para o Resumo
            </button>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
