{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container ">
    <h5>Ponto</h5>
    <h6><strong>Marcaçao do Ponto</strong></h6>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row text-center">
            <div class="col-md-12 mt-1 mb-1">
                <h3>BV Contabilidade</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 mt-1 mb-1">
                <h3>{{usuario}}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 mt-1 mb-1">
                <h3>{{dia}}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 mt-1 mb-1">
                <h3>{{current_time|date:"d/m/Y H:i:s"}}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 mt-1 mb-1">
                <h1 id="current_time"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mt-1 mb-1">
                {{ form.tipo_receita|as_crispy_field }}
            </div>
            <div class="col-md-6 mt-1 mb-1">
                {{ form.cliente_id|as_crispy_field }}
            </div>
        </div>




        <div class="row border border-dark">
            <div class="col-md-8 mt-1 mb-1">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                    Gravar
                </button>
            </div>
            <div class="col-md-4 mt-1 mb-1">
                <a href="{% url 'apontamento:folha_ponto' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Volta para o Resumo
                </a>
            </div>
        </div>
    </form>

</div>
<script>
    function updateTime() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        if (minutes < 10) minutes = "0" + minutes;
        if (seconds < 10) seconds = "0" + seconds;
        document.getElementById('current_time').innerHTML = hours + ":" + minutes + ":" + seconds;
    }
    setInterval(updateTime, 1000);
</script>
{% endblock %}
