{% extends 'base.html' %} {% load crispy_forms_tags %} {% load querystring %} {%
load static %} {% load timedelta_filters %} {% block content %}

<div class="container border dark-border">
    <h2 class="text-center text-info">Consulta por Cliente / Tarefa</h2>

  <form method="get" class="filter-form">
    <div class="row g-2 align-items-end">
      <div class="col-md-2">
        <label for="id_entrada_gte" class="form-label">Início:</label>
        <input
          type="date"
          required="true"
          name="entrada__gte"
          id="id_entrada_gte"
          class="form-control"
          value="{{ request.GET.entrada__gte }}"
        />
      </div>

      <div class="col-md-2">
        <label for="id_saida_lte" class="form-label">Fim:</label>
        <input
          type="date"
          required="true"
          name="saida__lte"
          id="id_saida_lte"
          class="form-control"
          value="{{ request.GET.saida__lte }}"
        />
      </div>

      <!-- usuario Field (Dropdown) -->
      <div class="col-md-2">
        <label for="id_usuario" class="form-label">User:</label>
        <select name="usuario" id="id_usuario" class="form-control">
            <option value="">----------</option>
            {% for user in user_choices %}
                <option value="{{ user.id }}" {% if request.GET.usuario == user.id|stringformat:"s" %}selected{% endif %}>{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>

      <!-- Cliente_id Field (Dropdown) -->
      <div class="col-md-4">
        <label for="id_cliente_id" class="form-label">Cliente:</label>
        <select name="cliente_id" id="id_cliente_id" class="form-control">
            <option value="">----------</option>
            {% for client in client_choices %}
                <option value="{{ client.id }}" {% if request.GET.cliente_id == client.id|stringformat:"s" %}selected{% endif %}>{{ client.codigosistema}}|{{client.nomerazao }}</option>
            {% endfor %}
        </select>
    </div>

      <!-- TipoReceita Field (Dropdown) -->
      <div class="col-md-2">
        <label for="id_tipo_receita" class="form-label">Tarefa:</label>
        <select name="tipo_receita" id="id_tipo_receita" class="form-control">
            <option value="">----------</option>
            {% for tipo in tipo_receita_choices %}
                <option value="{{ tipo.id }}" {% if request.GET.tipo_receita == tipo.id|stringformat:"s" %}selected{% endif %}>{{ tipo.descricao }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="row">

    </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100 mb-2">Buscar</button>
      </div>
      <div class="col-md-2">
        <a href="{% url 'apontamento:consulta_por_user_cliente_tarefa' %}" class="btn btn-secondary w-100 mb-2" type="submit">Limpar</a>
      </div>
    </div>

  </form>
</div>

<div class="container border dark-border">
  <table class="table table-striped table-bordered table-hover table-sm mt-3">
    <thead>
      <tr>
        <th class="text-center">Data Inicial</th>
        <th class="text-center">Data Final</th>
        <th class="text-center">Diferença</th>
        <th class="text-center">Usuário</th>
        <th class="text-left">Cliente</th>
        <th class="text-center">Tipo Receita</th>
      </tr>
    </thead>
    <tbody>
      {% for ponto in pontos %}
      <tr>
        <td class="text-center">{{ ponto.entrada|date:"d/m/Y h:i:s" }}</td>
        <td class="text-center">{{ ponto.saida|date:"d/m/Y h:i:s" }}</td>
        <td class="text-center">{{ ponto.difference }}</td>
        <td class="text-center">{{ ponto.usuario }}</td>
        <td class="text-left">{{ ponto.cliente_id }}</td>
        <td class="text-center">{{ ponto.tipo_receita }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


    <div class="pagination">
      {% if page_obj.has_previous %}
      <a href="?{% querystring request page=page_obj.previous_page_number %}">
        Anterior</a
      >
      {% endif %}

      <span
        >Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span
      >

      {% if page_obj.has_next %}
      <a href="?{% querystring request page=page_obj.next_page_number %}">
        Próxima</a
      >
      {% endif %}
    </div>


</div>
<script>
  $(function () {
    $("#cliente").autocomplete({
      source: "{% url 'cliente:cliente_autocomplete' %}",
      minLength: 2,
    });
  });
</script>
{% endblock %}
