{% extends 'base.html' %}
{% load timedelta_filters %}
{% block title %} Folha de Ponto | {{object.title}}

{% endblock title %}



{% block content %}


<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <h1>Pontos</h1>
    </div>
</div>

<div class="container">
    <h1>Pontos Sumarizados</h1>
    {% for ponto in pontos_sumarizados %}
    {{ ponto.dia|date:"d/m/Y"}} - {{ ponto.horas_trabalhadas|format_timedelta }}<br>
    {% endfor %}
    <h2>Total de Horas Trabalhadas</h2>
    {{ total_horas_trabalhadas|format_timedelta }}
</div>


{% endblock %}