crispy-bootstrap5==0.7
debugpy==1.8.0
celery==5.3.6
Django==4.2.7
django-cors-headers==4.3.1
django-import-export==3.3.1
django-jazzmin==2.6.0
django-bootstrap5==23.1
django-crispy-forms==2.0
django-smart-selects==1.6.0
fontawesomefree==6.0
flower==2.0.1
numpy==1.26.3
pandas==2.1.4
pytz==2023.3.post1
Pillow==9.2.0
redis==5.0.1
django-tables2==2.4.1

# render config
python-dotenv==0.21.0
# psycopg2==2.9.9
psycopg2-binary==2.9.6
dj-database-url==1.2.0
gunicorn==20.1.0
whitenoise==6.2.0
Brotli==1.0.9
