{% extends 'base.html' %}

{% block title %}Esqueci a Senha{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="center">
        <form method="post">
            {% csrf_token %}
            <h2>Esqueci a Senha</h2>
            <p>Por favor, insira o seu email para que possamos enviar um link para redefinir a sua senha.</p>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Recuperar a Senha</button>
        </form>
    </div>

{% endblock %}
