{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm">
                <thead style="background-color: orangered; vertical-align: middle;">
                    <th>Nome</th>
                    <th>Última Interação</th>
                    <th>Cliente</th>
                    <th>Tarefa</th>
                    <th>Total Dia</th>
                </thead>

                <tbody>
                    {% if pontos %}
                    {% for appointment in pontos %}

                    <tr style="vertical-align: middle;">
                        <td>{{ appointment.usuario }}</td>
                        <td>{{ appointment.last_interaction|date:"d/m/y H:m" }}</td>
                        <td>{{ appointment.cliente }}</td>
                        <td>{{ appointment.tarefa }}</td>
                        <td>{{ appointment.total_dia }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <h1>Lembretes</h1>
    </div>
</div>

{% endblock %}
