{% extends 'base.html' %}
{% load timedelta_filters %}
{% load crispy_forms_tags %}
{% block title %}Banco de Horas{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">
            <h2 class="text-info">Banco de Horas</h2>
        </div>
        {% if request.user.is_superuser and user_name or month_choice %}
            <form id="calcular_banco_de_horas_form"method="POST" class="col-md-2">
                {% csrf_token %}
                <button id="calcular_banco_de_horas_btn" class="btn btn-success btn-block btn-lg">
                    <i class="fas fa-database" disabled data-toggle="tooltip" title="Calcular o Banco de Horas"> Calcular</i>
                </button>
            </form>
        {% endif %}
        <form method="get" class="row gx-3 gy-2 align-items-center">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-2">{{ form.user_name|as_crispy_field }}</div>
                <div class="col-md-2">{{ form.month_choice|as_crispy_field }}</div>
                    <div class="col-md-3 d-flex flex-column justify-content-center">
                        <button type=" submit" class="btn btn-primary btn-sm">
                        <i class="fa-solid fa-search"></i> Consulta
                        </button>

                        <a href="{% url 'banco_de_horas:lista_banco_de_horas' %}" class="btn btn-primary btn-sm"
                            style="border: 1px solid white;">
                            <i class="fa-solid fa-arrows-rotate"></i> Limpar
                        </a>
                    </div>
            </div>
        </form>


    <!-- Loading Spinner -->
    <div id="loading-spinner" class="d-none justify-content-center align-items-center position-fixed w-100 h-100" style="display:none; top: 0; left: 0; background: rgba(255, 255, 255, 0.8); z-index: 1000;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Calculando...</span>
        </div>
    </div>

    <table class="responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="text-center">Período</th>
                    <th class="text-center">Saldo<br> Anterior</th>
                    <th class="text-center">Positivo</th>
                    <th class="text-center">Negativo</th>
                    <th class="text-center">Compensação</th>
                    <th class="text-center">Saldo</th>
                    <th class="text-center"><strong>PGTO</strong></th>
                    <th class="text-center">Saldo</th>
                    {% if request.user.is_superuser %}
                        <th class="text-center" colspan="2">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for banco in banco_de_horas %}
                    {% if not banco.user.is_superuser %}
                        <tr>
                            {% if banco.user.username.nome is None %}
                                <td>{{ banco.user.userprofile }}</td>
                            {% else %}
                                <td>{{ banco.user.userprofile.nome }}</td>
                            {% endif %}
                            <td class="text-center">{{ banco.periodo_apurado|date:"d/m/Y" }}</td>
                            <td class="text-center">{{ banco.saldo_anterior|format_timedelta }}</td>
                            <td class="text-center text-success">{{ banco.total_credor|format_timedelta }}</td>
                            <td class="text-center text-danger">{{ banco.total_devedor|format_timedelta }} </td>

                            {% if banco.compensacao|is_greater_than_zero %}
                                <td class="text-center text-success">{{ banco.compensacao|format_timedelta }}</td>
                            {% else %}
                                <td class="text-center text-danger">{{ banco.compensacao|format_timedelta }}</td>
                            {% endif %}

                            {% if banco.saldo_final_sem_pagamento|is_greater_than_zero %}
                                <td class="text-center text-success">
                                    {{ banco.saldo_final_sem_pagamento|format_timedelta }}
                                </td>
                            {% else %}
                                <td class="text-center text-danger">
                                    {{ banco.saldo_final_sem_pagamento|format_timedelta }}
                                </td>
                            {% endif %}

                            {% if banco.pagamento|is_greater_than_zero %}
                                <td class="text-center text-success">
                                    {{ banco.pagamento|format_timedelta }}
                                </td>
                            {% else %}
                                <td class="text-center">
                                    {{ banco.pagamento|format_timedelta }}
                                </td>
                            {% endif %}

                            </td>

                            {% if banco.saldo_final_com_pagamento|is_greater_than_zero %}
                                <td class="text-center text-success">
                                    {{ banco.saldo_final_com_pagamento|format_timedelta }}
                                </td>
                            {% else %}
                                <td class="text-center text-danger">
                                    {{ banco.saldo_final_com_pagamento|format_timedelta }}
                                </td>
                            {% endif %}


                            {% if request.user.is_superuser %}
                                <td class="text-center">
                                    <a href="{% url 'banco_de_horas:atualiza_banco_de_horas' banco.id %}">
                                        <i class="fas fa-edit" style="color:blue" data-toggle="tooltip"
                                            title="Atualizar o Banco de Horas"></i>
                                    </a>
                                <td class="text-center">
                                    <a href="{% url 'banco_de_horas:deleta_banco_de_horas' banco.id %}">
                                        <i class="fas fa-trash" style="color:red" data-toggle="tooltip"
                                            title="Apagar a linha do Banco de Horas"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>

        </table>
        <!-- Paginação -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if user_name %}&user_name={{ user_name }}{% endif %}{% if month_choice %}&month_choice={{ month_choice }}{% endif %}">&laquo; primeira</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if user_name %}&user_name={{ user_name }}{% endif %}{% if month_choice %}&month_choice={{ month_choice }}{% endif %}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if user_name %}&user_name={{ user_name }}{% endif %}{% if month_choice %}&month_choice={{ month_choice }}{% endif %}">próxima</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if user_name %}&user_name={{ user_name }}{% endif %}{% if month_choice %}&month_choice={{ month_choice }}{% endif %}">&raquo; última</a>
                {% endif %}
            </span>
        </div>
    </table>
    <!-- Modal de Confirmação-->
        <div id="confirmacao_modal"class="modal" tabindex="-1">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Banco de Horas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p id="modal-message"></p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button id="confirmar_recalculo" type="button" class="btn btn-primary">Sim</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Modal de Sucesso -->
        <div id="sucesso_modal"class="modal" tabindex="-1">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Banco de Horas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p id="modal-text"></p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Script jQuery -->
    <script>
        $(document).ready(function() {
            $('#calcular_banco_de_horas_btn').click(function(e) {
                e.preventDefault();

                $.ajax({
                    url: "{% url 'banco_de_horas:lista_banco_de_horas' %}",
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(response) {
                        if (response.status === 'warning') {
                            $('#modal-message').text(response.message);
                            $('#confirmacao_modal').modal('show');
                        }
                    },
                    error: function(xhr, status, errorThrown) {
                        console.log(xhr.status + ": " + xhr.responseText);
                        alert("Ocorreu um erro ao processar a solicitação." + errorThrown);
                    }
                });
            });
            $('#confirmar_recalculo').click(function() {
                $('#confirmacao_modal').hide();
                $('#loading-spinner').removeClass('d-none').addClass('d-flex');
                $.ajax({
                    url: "{% url 'banco_de_horas:lista_banco_de_horas' %}",
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'recalcular': 'true',
                    },
                    success: function(response) {
                        if(response.status === 'success'){
                            $('#loading-spinner').removeClass('d-flex').addClass('d-none');
                            $('#modal-text').text(response.message);
                            $('#sucesso_modal').modal('show');
                        }
                    },
                    error: function(xhr, status, errorThrown) {
                        console.error('Erro na requisição:', error);
                        alert("Ocorreu um erro no cálculo." + errorThrown);
                    }

                })
            })
            $("#sucesso_modal").on("hidden.bs.modal", function() {
                location.reload();
            })
    });
    </script>
</div>
{% endblock %}
